.Header {
    .menu {
        &__links {
            display: flex;

            .link {
                padding: 0 10px;
                display: inline-block;
                line-height: 50px;
            }
        }
    }
}
